.cart-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:white;
    width: 500px;
    margin: 1rem auto;
    border: 1px solid ;
    border-radius: 10px;
    border-color: #198754;
    
}

.cart-container p {
    padding: 25px;
}

.logo {
    color: #198754;
}

.logo, .browse-button {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.browse-button {
    width: 25%;
    margin: 0 auto;
    box-shadow: 0px 2px 12px 1px;
    background-color: #212529 !important;
}

.browse-button a {
    color: #198754;
    text-decoration: none; 
}

.cart-login {
    color: #198754;
    text-decoration: none; 
}

