.games {
    border-radius: 10px;
    margin : 20px ;
    padding: 20px; 
    background-color: rgba(128, 128, 128, 0.39);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games:hover {
    box-shadow: 0px 2px 15px .5px rgba(255, 255, 255, 0.473);
}

.title {
    margin-bottom: 25px;
    text-decoration: underline;
}

.images {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.rating {
    margin-top: 10px;
    color: orange;
}

.price-text {
    font-weight: 600;
    color: rgb(139, 219, 58);
}

.button {
    border-radius: 5px;
    padding: 10px;
    background-color: #0868F3 ;
    color: white;
    font-weight: 700;
}
